body{
    font-size: 25px;
}

h1{
    background: darkslategray;
    color: white;
}

section p{
    color: red!important;
}

section p:first-child{/*dernier p*/
    color: darkblue;
}

section p:last-child{/*dernier p*/
    color: lightgreen;
}

section p:nth-child(even){/*Les p impairs*/
    color: blue;
}

section p:nth-child(odd){/*Les p pairs*/
    color: brown;
}

section p:nth-child(3), section p:nth-child(9){/*Les p en position 3 et 9*/
    color: orange;
}
.zone1{/*on sélectionne une CLASS avec un . devant le nom de la classe*/
    color: #dc143c;
}
.zone2{
    color: #008080;
}
.lime{
    color: #00ff00;
}
#zone3{/*on sélectionne un ID avec un # devant le nom de l'ID*/
    background: #f5deb3;
    color: #8b4513;
}
#zone3:after{/*rajouter un contenu après l'ID zone3*/
    content:" rajouter après";
}
#zone3:before{/*rajouter un contenu avant l'ID zone3*/
    content:"et moi je vien avant ";
}
.zone4 span{/*appliquer une mise en forme au contenu dans la balise span imbriquée dans la classe zone4*/
    color: #ff7f50;
    background: #66cdaa;
}
li:nth-child(2){
    background: darkred;
    color: white;
}
